{% extends ".html" %}

{% block content %}
<div class="sixteen columns">
    <h5 class="sub">ServeLocally is an Open Source project on <a href="http://github.com/kellycreativetech/ServeLocally/">Github</a>.
        It was originally created<br /> for <a href="http://weserveseo.org/">weServe Southeastern Ohio</a> by <a href="http://kellycreativetech.com/">Kelly Creative Tech</a>.
    </h5>
    <hr />
</div>

<div class="one-third column">
<p><strong><em>ServeLocally is built on Django, and can be used in any Django Project. We have plans to have an entire example project completed so you can get up and running as quickly as possible.</em></strong></p>
<p>The technology is really great, but it takes a much more concerted effort to get a volunteer match site fully populated, and in use in your community. </p>
	
</div>
<div class="one-third column">
<p>weServe Southeastern Ohio is going through the process now to generate interest among community organizations and volunteer groups, as well as soliciting financial support for the ongoing maintenance and administrative costs for the software.</p> 
</div>
<div class="one-third column">
<p>We are documenting the process to make it easier to get started, and we'd be happy to help you in your community.</p>
    <p><a href="mailto:info@servelocally.org">Send us an Email at info@servelocally.org</a> if you have any questions or comments.</p>
</div> 
 
 
{% endblock %}


