{% extends ".html" %}

{% block content %}
<div class="sixteen columns">
    <p>ServeLocally is an Open Source project on <a href="http://github.com/kellycreativetech/ServeLocally/">Github</a>.
        It was originally created for <a href="http://weserveseo.org/">WeServe South Eastern Ohio</a> by <a href="http://kellycreativetech.com/">Kelly Creative Tech</a>.
    </p>
    <p>It's built on Django, and can be used in any Django Project. We have plans to have an entire example project completed so you can get up and running very quickly</p>
    <p>The technology is really cool, but it takes a much more concerted effort to get a volunteer match site full, and in use in your community. We're going through the process now in 
        South Eastern Ohio, along with WeServe SEO, Local Sponsors, and several community groups. We'd be happy to help you in your community</p>
    <p><a href="mailto:info@servelocally.org">Send us an Email at info@servelocally.org</a> if you have any questions or comments</p>
</div>
{% endblock %}