{% extends ".html" %}

{% block content %}
<div class="sixteen columns">
    <p>ServeLocally is built to bring your entire community together and match volunteers with needs.</p>
    <p>It combines great technology into an open source system that is easy to customize for your community.</p>
</div>
<div class="one-third column">
	<h3>For Volunteers</h3>	
    <ul class="square">
        <li>Do you like preparing food? Tutoring? Subscribe just to the areas you're interested in and get customized results and notifications</li>
        <li>Choose which notifications to receive</li>
        <li>No internet access? You can search from your phone, by dialing, or text message</li>
        <li>No special account needed to see opportunities or volunteer</li>
        <li>Track your community service work, and set goals</li>
    </ul>
</div>
<div class="one-third column">
	<h3>For Organizations</h3>	
	<ul class="square">
        <li>Post openings easily</li>
        <li>Track availability</li>
        <li>Automatically have your postings available for distribution through the web, SMS, and telephone searches</li>
        <li>Easily approve volunteer hours, for a validated log.</li>
        <li>Post events, or ongoing needs</li>
	</ul>
</div>
<div class="one-third column">
    <h3>For Groups</h3>
    <p>Boy Scout Troops, Classrooms, Businesses and more</p>
    <ul class="square">
        <li>Track your group's hours</li>
        <li>Work together towards a common Goal</li>
        <li>Easily Share other organization's needs with your entire group and volunteer together</li>
    </ul>
</div>
{% endblock %}