{% extends ".html" %}

{% block content %}
<div class="sixteen columns">
    <h5 class="sub">ServeLocally is built to bring your entire community together and match willing volunteers with needs. It combines great technology into an open source system that is easy to customize for your community.</h5>
    <hr />
</div>
<div class="one-third column">
	<h3>For Volunteers</h3>	
    <ul class="square">
        <li>Do you like preparing food? Tutoring? Subscribe just to the areas you're interested in and get customized results and notifications</li>
        <li>Choose which notifications to receive</li>
        <li>No internet access? You can search from your phone, by dialing, or text message</li>
        <li>No special account needed to see opportunities or volunteer</li>
        <li>Track your community service work, and set personal goals</li>
    </ul>
</div>
<div class="one-third column">
	<h3>For Organizations</h3>	
	<ul class="square">
        <li>Easily post volunteer opportunities on an ongoing basis for one-time events or ongoing needs</li>
        <li>Automatic distribution of your Opportunities through the web (on the desktop and mobile-optimized site), SMS, and telephone searches</li>
        <li>Approve volunteer hours for a validated log, for use in Investor Reporting and Grant Application Writing</li>
        <li>Track RSVPs for an accurate count of volunteers</li>
	</ul>
</div>
<div class="one-third column">
    <h3>For Groups</h3>
    <p><em>Boy Scout Troops, Classrooms, Church groups, Businesses and more</em></p>
    <ul class="square">
        <li>Track your group's hours</li>
        <li>Work together towards a common goal</li>
        <li>Easily share other organization's needs with your entire group and volunteer together</li>
    </ul>
</div>
{% endblock %}