{% extends ".html" %}

{% block content %}
<div class="sixteen columns">
    <h5 class="sub">ServeLocally is an Open Source project on <a href="http://github.com/kellycreativetech/ServeLocally/">Github</a>.
    </h5>
    <hr />
</div>

<div class="one-third column">
<p><strong><em>Even though the code is easily accessible, there's a lot more to getting an active volunteer matching service up and running in your community than just running the website.</em></strong></p>
<p><a href="mailto:info@servelocally.org">Send us an Email at info@servelocally.org</a> and we'll help you get on your way.</p>
	
</div>
<div class="one-third column">
<p>Developer Documentation is served by ReadTheDocs at <a href="http://docs.servelocally.org">http://docs.servelocally.org/</a></p> 

</div>
<div class="one-third column">
<p>There is also a mailing list on <a href="http://librelist.com/browser/servelocally/">Librelist</a>. You can subscribe by sending an email to <a href="mailto:servelocally@librelist.org">servelocally@librelist.org</a>.</p>
</div> 
{% endblock %}