{% extends ".html" %}

{% block content %}
<div class="sixteen columns">
    <p>ServeLocally is an Open Source project on <a href="http://github.com/kellycreativetech/ServeLocally/">Github</a>.
        That being said, it's in active development, and there's a lot more to getting an active volunteer matching service than just running the code.
    </p>
    <p>Developer Documentation is served by ReadTheDocs at <a href="http://docs.servelocally.org">http://docs.servelocally.org/</a>
    <p><a href="mailto:info@servelocally.org">Send us an Email at info@servelocally.org</a> and we'll help you get on your way.</p>
    <p>There is also a mailing list on <a href="http://librelist.com/browser/servelocally/">Librelist</a> You can subscribe by sending an email to <a href="mailto:servelocally@librelist.org">servelocally@librelist.org</a></p>
</div>
{% endblock %}